body{
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem ;
  margin: 0;
}

.intro{
  display: flex;
  justify-content: center;
  height: 100vh;
}
.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1{
  font-size: 8rem;
  /* padding: 0; */
  margin: 0;

}
