body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 0;
}

.intro {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    font-size: 8rem;
    margin: 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.button {
    border: 1px solid;
    padding: 1em 3em;
    border-radius: 1em;
}
