body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0em 10em 0em 10em;
}

.container {
  border: 3px solid black;
  height: 400px;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.box {
  border: 2px solid darkorchid;
  background-color: aqua;
  width: 50px;
}
